{% extends 'base/base.html' %}

{% load static %}
{% block title %}
<title>GUMSHUDA | Detect Persons</title>
{% endblock %}
         {% block content %}
         <style type="text/css">
            .settings-content.js-simplebar {
    display: none;
}

         </style>
            <main class="content">
               <div class="container-fluid p-0">
                  <div class="row">
                     <div class="col-md-1">
                      
                     </div>
                     <div class="col-md-9 col-xl-10">
                        <div class="tab-content">
                           <div class="tab-pane fade show active" id="account" role="tabpanel">
                           
                              <div class="card">
                                 <div class="card-header">
                                     {% if messages %}
                           {% for message in messages %}
                           {% if 'success' in message.tags %}
                              <div class="alert alert-success">
                                 {{ message }}
                              </div>
                           {% endif %}
                           {% endfor %}
                        {% endif %}
                        {% if messages %}
                           {% for message in messages %}
                           {% if 'error' in message.tags %}
                              <div class="alert alert-danger">
                                 {{ message }}
                              </div>
                           {% endif %}
                           {% endfor %}
                        {% endif %}
                                  
                                    <h5 class="card-title mb-0">Find Person Here</h5>
                                 </div>
                                 <div class="card-body">
                                    <form method="post" id="detect_person_form" enctype="multipart/form-data" action="/accounts/detect_person/">
                                       {% csrf_token %}
                                       <div class="form-row">
                                       <div class="form-group col-md-2">
                                          <label for="inputAddress">Upload Pic</label>
                                          <button  class="btn btn-primary" type="button" style="display:block;width:120px; height:30px;" onclick="document.getElementById('detect_getFile1').click()">Upload</button>
            
              <input type='file' id="detect_getFile1" class="images first_step_cls" ngf-select="" ng-model="new_files" accept="image/*" name="main_image" style="display:none" onchange="detectreadURLMySecond(this)">
              <span class="logo-span" style="margin-right: " id = "detect_display_none">No File Selected.</span>
              <span class="error-msg"
              id="detect_images_sec_check_label"></span>
            </div>
            <div class="col-md-3">
              <img id="detect_blah2" src="#" alt="your image" style="display: none;" />
           </div>
           
           
           </div>
                    <button type="submit" class="btn btn-primary">Save Information</button>

         </form>
       </div>
     </div>
   </div>
                          
    </div>
 </div>
</div>
</div>
</main>
<script src="{% static 'js/detect_person.js' %}"></script>

{% endblock %}